.cont{
    width: 90%;
    height: 90vh;
    margin: 5em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-family: "Mont semi bold";
        font-size: 1.8em;
        text-align: center;
        @media screen and (min-width: 600px){
            font-size: 2em;
        }
    }
    h2::after{
        content: '';
        display: block;
        width: 150px;
        height: 3px;
        background: #d22424;
        margin: 15px auto 0 auto;
    }
    .projects{
        width: 85%;
        height: 90%;
        @media screen and (min-width: 1024px){
            width: 100%;
        }
        .carouselMobile{
            height: 100%;
            display: flex;
            align-items: center;
            .item{
                width: 100%;
                height: 450px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                border: thin solid #3b3b3b;
                justify-content: center;
                gap: 2em;
                text-align: center;
                h3{
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .imgCont{
                    width: 90%;
                    position: relative;
                    img{
                        width: 90%;
                    }
                    a{
                        width: 90%;
                        height: 100%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0;
                    }
                }
                p{
                    text-align: justify;
                }
                @media screen and (min-width: 800px) {
                    width: 350px;
                    margin: 0 auto;
                }
            }
        }
    }
}